@use './../partials/colors';
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: colors.$mainbg-color;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
