@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #a9c8c9;
}

.container__resume, .container__techstack, .container__projects, .container__about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nology-link a {
  text-decoration: none;
  color: white;
}
.nology-link a:hover {
  color: #a9c8c9;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}
@media screen and (max-width: 576px) {
  .main-wrapper {
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 1rem;
  }
}

.intro {
  display: flex;
  flex-direction: column;
}
.intro__name {
  font-size: 3.8rem;
  letter-spacing: 0.05rem;
  color: #a9c8c9;
}
.intro__desc {
  margin-top: 1rem;
  letter-spacing: 0.2rem;
  border-top: 1px solid coral;
  border-bottom: 1px solid #90cbda;
  line-height: 3rem;
}

.container__resume, .container__techstack, .container__projects, .container__about {
  width: 200px;
  height: 200px;
  background-color: #272626;
  font-weight: bolder;
  letter-spacing: 0.05rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  cursor: pointer;
}
.container__resume:hover, .container__techstack:hover, .container__projects:hover, .container__about:hover {
  transition: all 1s ease-in;
  color: #a2bcd1;
  background-color: #1e6091;
}

.intro {
  color: white;
  letter-spacing: 0.05rem;
}

.container {
  color: #a9c8c9;
  display: grid;
  gap: 1rem;
  grid-template-areas: "about projects" "stack resume";
}
.container__about {
  grid-area: about;
}
.container__projects {
  grid-area: projects;
}
.container__techstack {
  grid-area: stack;
}
.container__resume {
  grid-area: resume;
}
@media screen and (max-width: 576px) {
  .container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .container__about {
    width: 100%;
  }
  .container__projects {
    width: 100%;
  }
  .container__techstack {
    width: 100%;
  }
  .container__resume {
    width: 100%;
  }
}
